{
	"root": true,

	"extends": "@ljharb",

	"globals": {
		"Uint8Array": "readonly",
		"Uint16Array": "readonly",
		"Uint32Array": "readonly",
		"Int8Array": "readonly",
		"Int16Array": "readonly",
		"Int32Array": "readonly",
		"Float32Array": "readonly",
		"Float64Array": "readonly",
		"BigInt64Array": "readonly",
		"BigUint64Array": "readonly",
	},

	"rules": {
		"consistent-return": "warn",
		"curly": "warn",
		"dot-notation": [2, { "allowKeywords": true, "allowPattern": "throws" }],
		"func-style": "warn",
		"function-paren-newline": "warn",
		"id-denylist": "warn",
		"indent": ["error", 2],
		"max-params": "warn",
		"max-statements-per-line": "warn",
		"multiline-comment-style": "off",
		"no-else-return": "warn",
		"no-extra-parens": "warn",
		"no-param-reassign": "warn",
		"no-use-before-define": "warn",
		"semi": ["error", "never"],
		"sort-keys": "warn",
		"space-before-function-paren": "warn",
		"strict": "warn",
	},

	"ignorePatterns": [
		"test/bundle.js",
	],

	"overrides": [
		{
			"files": "bench/*",
			"extends": "@ljharb/eslint-config/node/4",
			"rules": {
				"curly": "warn",
				"func-style": "warn",
				"indent": ["error", 2],
				"max-params": "warn",
				"no-extra-parens": "warn",
				"no-mixed-operators": "warn",
				"no-param-reassign": "warn",
				"no-use-before-define": "warn",
				"no-var": "off",
				"prefer-arrow-callback": "off",
				"prefer-template": "off",
				"semi": ["error", "never"],
				"space-before-function-paren": "warn",
				"strict": "warn",
			},
		},
	],
}
